flask
plotly
pandas
matplotlib
seaborn
scikit-learn
mlxtend

SQLAlchemy==1.4.18
text-unidecode==1.3
Werkzeug==2.0.1
click==8.0.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
Jinja2==3.0.1
MarkupSafe==2.0.1
python-dateutil==2.8.1
