<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
</head>
<body>
<div class="container">
    <h1>{{ title }}</h1>
    <hr>
    {% block content %}
    <script>

        $(document).ready(function() {

            // Listen for the change event of the select element
            $('#latt').on('change', function() {
                // Submit the form when the value changes
                $('#my-form1').submit();
            });
            
            // Listen for the change event of the select element
            $('#ratt').on('change', function() {
                // Submit the form when the value changes
                $('#my-form2').submit();
            });
            
            var table = $('#data').DataTable();

            // Add the event listeners for the search boxes
            $('#lift_search').on('keyup', function () {
              table.column('lift:name').search($('#lift_search').val()).draw()
            });

            $('#confidence_search').on('keyup', function () {
              table.column('confidence:name').search($('#confidence_search').val()).draw()
            });

             $('#support_search').on('keyup', function () {
              table.column('support:name').search($('#support_search').val()).draw()
            });

             $('#frequency_search').on('keyup', function () {
              table.column('frequency:name').search($('#frequency_search').val()).draw()
            });

            $('#lhs_value_search').on('keyup', function () {
              table.column('lhs_value:name').search($('#lhs_value_search').val()).draw()
            });

            $('#rhs_value_search').on('keyup', function () {
              table.column('rhs_value:name').search($('#rhs_value_search').val()).draw()
            });

        });

    </script>

    {% endblock %}
</div>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
