{% extends "base.html" %}

{% block content %}
<br>
<table id="data" class="table table-striped">
    <thead>
    <tr>
        <th>
            <label for="latt">Chose left attribute:</label>
            <form id="my-form1" action="{{ url_for('api_data') }}" method="post">
                <select id="latt" name="latt">
                    <option value="None">None</option>
                    {% for column in l_column_names %}
                    <option value="{{ column }}" {% if column == l_column_name %}selected{% endif %}>{{ column }}</option>
                    {% endfor %}
                </select>
            </form>
        </th>

        <th>
            <label for="lhs_value_search">Filter lhs Values:</label>
            <input type="text" id="lhs_value_search" name="lhs_value_search" class="form-control form-control-sm">
        </th>

        <th>
            <label for="ratt">Chose right attribute:</label>
            <form id="my-form3" action="{{ url_for('api_data') }}" method="post">
            <select id="ratt" name="ratt">
                <option value="None">None</option>
                {% for column in r_column_names %}
                <option value="{{ column }}" {% if column == r_column_name %}selected{% endif %}>{{ column }}</option>
                {% endfor %}
            </select>
            </form>
        </th>

        <th>
            <label for="rhs_value_search">Filter rhs Values:</label>
            <input type="text" id="rhs_value_search" name="rhs_value_search" class="form-control form-control-sm">
        </th>

        <th>
            <label for="support_search">Filter Support:</label>
            <input type="text" id="support_search" name="support_search" class="form-control form-control-sm">
        </th>

        <th>
            <label for="confidence_search">Filter Confidence:</label>
            <input type="text" id="confidence_search" name="confidence_search" class="form-control form-control-sm">

        </th>
        <th>
            <label for="lift_search">Filter Lift:</label>
            <input type="text" id="lift_search" name="lift_search" class="form-control form-control-sm">
        </th>

        <th>
            <label for="frequency_search">Filter Frequency:</label>
            <input type="text" id="frequency_search" name="frequency_search" class="form-control form-control-sm">
        </th>

    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}


{% block scripts %}
<script>

    $(document).ready(function() {
    var table = $('#data').DataTable({
        ajax: '/api/data',
        serverSide: true,
        "sDom":"ltipr",
        columns: [
            {data: 'lhs_attribute', orderable: false, searchable: false},
            {data: 'lhs_value', orderable: false , searchable: false},
            {data: 'rhs_attribute', orderable: false, searchable: false},
            {data: 'rhs_value', orderable: false, searchable: false},
            {data: 'support', orderable: false, searchable: false},
            {data: 'confidence', orderable: false, searchable: false},
            {data: 'lift', orderable: false, searchable: false},
            {data: 'frequency', orderable: false, searchable: false}
        ],
        ordering: false,

    });

    $('#my-form1').on('change', function(event) {
        event.preventDefault();
        var formData = $(this).serialize();
        $.ajax({
            url: '/api/data',
            data: formData,
            dataType: 'json',
            type: 'GET',
            success: function(data) {
                table.clear();
                table.rows.add(data).draw();
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
            }
        });
    });

    $('#lhs_value_search').on('keyup', function(event) {
        event.preventDefault();
        var formData = $(this).serialize();
        $.ajax({
            url: '/api/data',
            data: formData,
            dataType: 'json',
            type: 'GET',
            success: function(data) {
                table.clear();
                table.rows.add(data).draw();
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
            }
        });
    });

    $('#my-form3').on('change', function(event) {
        event.preventDefault();
        var formData = $(this).serialize();
        $.ajax({
            url: '/api/data',
            data: formData,
            dataType: 'json',
            type: 'GET',
            success: function(data) {
                table.clear();
                table.rows.add(data).draw();
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
            }
        });
    });

    $('#rhs_value_search').on('keyup', function(event) {
        event.preventDefault();
        var formData = $(this).serialize();
        $.ajax({
            url: '/api/data',
            data: formData,
            dataType: 'json',
            type: 'GET',
            success: function(data) {
                table.clear();
                table.rows.add(data).draw();
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
            }
        });
    });

     $('#support_search').on('keyup', function(event) {
        event.preventDefault();
        var formData = $(this).serialize();
        $.ajax({
            url: '/api/data',
            data: formData,
            dataType: 'json',
            type: 'GET',
            success: function(data) {
                table.clear();
                table.rows.add(data).draw();
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
            }
        });
    });


    $('#confidence_search').on('keyup', function(event) {
        event.preventDefault();
        var formData = $(this).serialize();
        $.ajax({
            url: '/api/data',
            data: formData,
            dataType: 'json',
            type: 'GET',
            success: function(data) {
                table.clear();
                table.rows.add(data).draw();
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
            }
        });
    });

    $('#lift_search').on('keyup', function(event) {
        event.preventDefault();
        var formData = $(this).serialize();
        $.ajax({
            url: '/api/data',
            data: formData,
            dataType: 'json',
            type: 'GET',
            success: function(data) {
                table.clear();
                table.rows.add(data).draw();
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
            }
        });
    });



    $('#frequency_search').on('keyup', function(event) {
        event.preventDefault();
        var formData = $(this).serialize();
        $.ajax({
            url: '/api/data',
            data: formData,
            dataType: 'json',
            type: 'GET',
            success: function(data) {
                table.clear();
                table.rows.add(data).draw();
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
            }
        });
    });


});

</script>
{% endblock %}
