{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <label for="lift_search">Search Lift:</label>
      <input type="text" id="lift_search" name="lift_search" class="form-control form-control-sm">
    </div>
    <div class="col-md-3">
      <label for="confidence_search">Search Confidence:</label>
      <input type="text" id="confidence_search" name="confidence_search" class="form-control form-control-sm">
    </div>
  </div>
  <br>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>lhs_attribute</th>
        <th>lhs_value</th>
        <th>rhs_attribute</th>
        <th>rhs_value</th>
        <th>support</th>
        <th>confidence</th>
        <th>lift</th>
        <th>frequency</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}


{% block scripts %}
  <script>
    $(document).ready(function () {
      var table = $('#data').DataTable({
        ajax: '/api/data',
        serverSide: true,
        columns: [
          {data: 'lhs_attribute', orderable: false, searchable: false},
          {data: 'lhs_value', orderable: false, searchable: false},
          {data: 'rhs_attribute', orderable: false, searchable: false},
          {data: 'rhs_value', orderable: false, searchable: false},
          {data: 'support', orderable: false, searchable: false},
          {data: 'confidence', name: 'confidence', searchable: true},
          {data: 'lift', name: 'lift', searchable: true},
          {data: 'frequency', orderable: false, searchable: false}
        ],
      });
      // Add the event listeners for the search boxes
      $('#lift_search').on('keyup', function () {
        table.column('lift:name').search($('#lift_search').val()).draw()
      });

      $('#confidence_search').on('keyup', function () {
        table.column('confidence:name').search($('#confidence_search').val()).draw()
      });
    });
  </script>
{% endblock %}
